html
	head
		title Form Tester
	body
		form(action="/", method="POST")
			div
				label(for="screen_name") Enter your Twitter name here:
				input(name="screen_name")
			br
			button(type="submit") Submit
