form(action="/", method="POST")
	.input-field
		input(name="userInput" placeholder="Enter your twitter username here..." type="text")
		button.btn-flat.white.blue-text.text-darken-3(type="submit") Submit
