html
	head
		title Parse du Tweets
	body
		form(action="/", method="POST")
			div
				label(for="userInput") Enter your Twitter name here:
				input(name="userInput")
			br
			button(type="submit") Submit
