extends base

block content
	.container
		.row
			.col.s6.offset-s3

				h1 Parse du Tweets

				p.flow-text Ever wondered how many and what kind of punctuation marks you used in your last 100 tweets? Of course you have. Enter your (or anyone's) Twitter username (no @) below and watch the magic happen.
				p.flow-text It's fun. Trust me.

				include form
