/***** border for layout help *****/
* {
  border: 1px dotted pink;
}
body {
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Slabo 27px', serif;
  font-size: 62.5%; /* reduce default 16px to 10px for easier 'em' math */
  margin: 0 auto;
  width: 50%;
}
h1, h2, h3, h4 {
  /*font-family: 'Slabo 27px', serif;*/
  text-align: center;
}
h1 {
  font-size: 4.0em;
}
h2 {
  font-size: 3.0em;
}
h3 {
  font-size: 2.0em;
}
h4 {
  font-size: 1.6em;
}
p {
  font-size: 1.2em;
}
form {
  margin: 0 auto;
  width: 50%;
}
input {
  border: 1px solid black;
}
.results {
  text-align: center;
}
